<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <h1 class="navbar-brand" routerLink="/">Questionnaire</h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navlink">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Question Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/create-question"
              >Create Question</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/question-list"
              >Question's List</a
            >
          </li>
        </ul>
        <!-- <button class="btn btn-outline-light" routerLink="/question-list">
          Question's List
        </button>
        <button
          class="btn btn-outline-light"
          id="btn"
          routerLink="/create-question"
        >
          Create Question
        </button>
        <button class="btn btn-outline-light" id="btn" routerLink="/">
          Question Management
        </button> -->
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
